<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>홈 - ComphyCat Reminder</title>
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/user_common.css">        
        <link rel="stylesheet" href="/home/home.css">
    </head>
    <body>
        <div class="heading">
            <a href="/home"><img class="logo" src="/graphics/aam_online.png" alt="ComphyCat Reminder Online"></a>
            <div class="user">
                <a class="blackLink grayLink" href="/prefs/account"><img src="/images/user" alt=>  {{username}}</a>님&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/">로그아웃</a>&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/home/notifications">알림 {{ notificationCnt }}개</a>
            </div>
        </div>
        <div class="frame">
            <div class="side">
                {{#each sideItem}}
                <a class="blackLink grayLink" href="{{[0]}}"><div class="sideItem{{[1]}}"><img src="{{[2]}}" width="25" height="25"><br>{{3}}</div></a>
                {{/each}}
            </div>
            <div class="top">
                <h1>{{ username }}님 환영합니다</h1>
            </div>
            <div class="body">
                {{#each homeList}}
                <div class="content">
                    <h2 class="contentName"><a class="blueLink" href="{{link}}">{{title}} >></a></h2>
                    <div class="list">
                    {{#each Item}}
                    <a href="{{[3]}}" class="blueLink">
                       <div class="listContent{{[0]}}">{{[1]}}. {{[2]}}</div>
                    </a>
                    {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </body>
</html>