<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>알림 - ComphyCat Reminder</title>
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="notifications.css">
    </head>
    <body>
        <div class="heading">
            <a href="/home"><img class="logo" src="/graphics/aam_online.png" alt="ComphyCat Reminder Online"></a>
            <div class="user">
                <a class="blackLink grayLink" href="/prefs/account"><img src="/images/user">  {{username}}</a>님&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/">로그아웃</a>&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/home/notifications">알림 {{ notificationCnt }}개</a>
            </div>
        </div>
        <div class="frame">
            <div class="side">
                {{#each sideItem}}
                <a class="blackLink" href="{{[0]}}"><div class="sideItem{{[1]}}"><img src="{{[2]}}" width="25" height="25"><br>{{3}}</div></a>
                {{/each}}
            </div>
            <div class="top">
                <h1 class="title">알림</h1>
            </div>
            <div class="main">
                <div class="toolbar">
                    <div class="toolItem" id="selectAll">모두 선택</div>|
                    <div class="toolItem" id="delete">선택 삭제</div>|
                    <div class="toolItem" id="deleteAll">전체 삭제</div>
                </div>
                <p id="newItemCount" data-itemcnt="{{itemCnt}}"></p>
                <div class="list">
                    {{#each itemList}}
                    <div class="listItem grayLink" id="{{id}}" data-unread="{{unread}}">
                        <input  type="checkbox"><label class="listItemChk"for="{{id}}">  {{date}}</label>
                        <div class="listItemText"><br>{{{text}}}</div>
                        
                    </div>
                    {{/each}}
                </div>
                <div class="listItem grayLink" data-show="{{showLoadMore}}" id="loadMore">
                    추가 로드
                </div>
            </div>
        </div>
        <script type="module" src="notifications.js"></script>
    </body>
</html>