<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>계정 설정 - ComphyCat Reminder</title>
        <link rel="stylesheet" href="/common.frame.css">
        <link rel="stylesheet" href="/common.comp.css">
        <link rel="stylesheet" href="/prefs/account.css">
    </head>
    <body>
        <div class="heading">
            <a href="/home"><img class="logo" src="/graphics/aam_online.png" alt="ComphyCat Reminder Online"></a>
            <div class="user">
                <a class="blackLink grayLink" href="/prefs/account"><img src="/graphics/profimg" width="30" height="30">  {{username}}</a>님&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/">로그아웃</a>&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/home/notifications">알림 {{ notificationCnt }}개</a>
            </div>
        </div>
        <div id="frame">
            <div class="side">
                {{#each sideItem}}
                <a class="blackLink grayLink" href="{{[0]}}"><div class="sideItem{{[1]}}"><img src="{{[2]}}" width="25" height="25"><br>{{3}}</div></a>
                {{/each}}
            </div>
            <div class="main">
                <div class="prefSide">
                    <a class="blackLink" href="/prefs/account"><div class="prefSideItemSel">계정 설정</div></a>
                    <a class="blackLink" href="/prefs"><div class="prefSideItem">환경 설정</div></a>
                </div>
                <div class="body">
                    <div class="bodyItem">
                        <h1>계정 정보</h1>
                    </div>
                    <div class="bodyItem">
                        <h2>프로필 사진</h2>
                        <input class="chkItem" data-link="profimg" name="profImg" data-action="default" type="radio" id="profImgDef" {{profImg.defChk}}><label for="profImgDef">기본 이미지 사용</label><br>
                        <input class="chkItem" data-link="profimg" name="profImg" data-action="custom" type="radio" id="profImgCus" {{profImg.cusChk}}><label for="profImgCus">직접 업로드</label>
                        <input type="file" id="profImgFile" accept="image/*">
                        <img id="profImgPrev" src="/graphics/profimg?cus=true" style="display: inline-block" width="40" height="40">
                    </div>
                    <div class="bodyItem">
                        <h2>등록 정보</h2>
                        이름: {{profProp.name}}<br>
                        아이디: {{profProp.id}}<br>
                        이메일: {{profProp.email}}<br>
                        비밀 번호 존재 여부: {{profProp.passwordExists}}<br>
                        현재 비밀번호 변경 기능이 구현되지 않았습니다.
                    </div>
                    <div class="bodyItem">
                        <h2>계정 연동 정보</h2>
                        Google 계정 연동: {{google.email}}<br>
                        Google 계정 연동 해제 기능이 구현되지 않았습니다.
                    </div>
                    <div class="bodyItem">
                        <h2>계정 탈퇴</h2>
                        <input type="button" id="delAccount" value="계정 탈퇴">
                    </div>
                </div>
            </div>
        </div>
        <script src="./account.js" type="module"></script>
    </body>
</html>