<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>환경 설정 - ComphyCat Reminder</title>
        <link rel="stylesheet" href="/common.frame.css">
        <link rel="stylesheet" href="/common.comp.css">
        <link rel="stylesheet" href="/prefs/prefs.css">
    </head>
    <body>
        <div class="heading">
            <a href="/home"><img class="logo" src="/graphics/aam_online.png" alt="ComphyCat Reminder Online"></a>
            <div class="user">
                <a class="blackLink grayLink" href="/prefs/account"><img src="/images/user">  {{username}}</a>님&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/">로그아웃</a>&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/home/notifications">알림 {{ notificationCnt }}개</a>
            </div>
        </div>
        <div id="frame">
            <div class="side">
                {{#each sideItem}}
                <a class="blackLink grayLink" href="{{[0]}}"><div class="sideItem{{[1]}}"><img src="{{[2]}}" width="25" height="25"><br>{{3}}</div></a>
                {{/each}}
            </div>
            <div class="main">
                <div class="prefSide">
                    <a class="blackLink" href="/prefs/account"><div class="prefSideItem">계정 설정</div></a>
                    <a class="blackLink" href="/prefs"><div class="prefSideItemSel">환경 설정</div></a>
                </div>
                <div class="body">
                    <div class="bodyItem">
                        <h1>환경 설정</h1>
                    </div>
                    <div class="bodyItem">
                        <h2>사이드바 설정</h2>
                        <input class="chkItem" data-link="side" data-action="bookmark" type="checkbox" id="sideBookmarks" {{side.bookmarkChk}}><label for="sideBookmarks">바로 가기 표시</label><br>
                        <input class="chkItem" data-link="side" data-action="shared" type="checkbox" id="sideShared" {{side.sharedChk}}><label for="sideShared">공유 파일 표시</label><br>
                    </div>
                    <div class="bodyItem">
                        <h2>홈 화면 설정</h2>
                        <input class="chkItem" data-link="home" data-action="history" type="checkbox" id="homeHis" {{home.hisChk}}><label for="homeHis">파일 접근 일자 기록</label><br>
                        <input class="chkItem" data-link="home" data-action="recent" type="checkbox" id="homeRecent" {{home.recentChk}}><label for="homeRecent">최근 파일 표시</label><br>
                        <input class="chkItem" data-link="home" data-action="bookmarks" type="checkbox" id="homeBookmarks" {{home.bookmarkChk}}><label for="homeBookmarks">바로 가기 표시</label><br>
                        <input class="chkItem" data-link="home" data-action="notifs" type="checkbox" id="homeNotifs" {{home.notifChk}}><label for="homeNotifs">알림 목록 표시</label><br>
                        <input class="chkItem" data-link="home" data-action="shared" type="checkbox" id="homeShared" {{home.sharedChk}}><label for="homeShared">공유 파일 표시</label><br>
                    </div>
                    <div class="bodyItem">
                        <h2>사본 파일 수신 설정</h2>
                        <input class="chkItem" data-link="misc" data-action="autorecv" type="checkbox" id="inboxRecv" {{inbox.saveChk}}><label for="inboxRecv">수신 파일 일괄 저장</label><br>
                    </div>
                </div>
            </div>
        </div>
        <script src="./prefs.js" type="module"></script>
    </body>
</html>