<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{dirName}} - ComphyCat Reminder</title>
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/user_common.css">        
        <link rel="stylesheet" href="/files/files.css">
    </head>
    <body>
        <div class="heading">
            <a href="/home"><img class="logo" src="/aam_online.png" alt="ComphyCat Reminder Online"></a>
            <div class="user">
                <a class="blackLink grayLink" href="/prefs/account"><img src="/images/user">  {{username}}</a>님&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/">로그아웃</a>&nbsp;&nbsp;&nbsp;
                <a class="blackLink grayLink" href="/home/notifications">알림 {{ notificationCnt }}개</a>
            </div>
        </div>
        <div class="frame">
            <div class="side">
                {{#each sideItem}}
                <a class="blackLink" href="{{[0]}}"><div class="sideItem{{[1]}}"><img src="{{[2]}}" width="25" height="25"><br>{{3}}</div></a>
                {{/each}}
            </div>
            <div class="top">
                <h1 class="title">{{dirName}}</h1>
                <div>{{{dirPath}}}</div>
            </div>
            <div class="main">
                <div class="toolbar">
                    <div class="toolItem grayLink" id="up">상위 폴더</div>|
                    <div class="toolItem grayLink" id="selectAll">모두 선택</div>|
                    <div class="toolItem grayLink" id="upload"><img src="/toolbars/add.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="download"><img src="/toolbars/download.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="rename"><img src="/toolbars/rename.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="share"><img src="/toolbars/share.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="copy"><img src="/toolbars/copy.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="move"><img src="/toolbars/move.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="createFile"><img src="/toolbars/newfile.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="createDir"><img src="/toolbars/newfolder.png" width="20" height="20"></div>|
                    <div class="toolItem grayLink" id="delete"><img src="/toolbars/delete.png" width="20" height="20"></div>
                </div>
                <p id="itemCount" data-countitem="{{countItem}}" data-itemcnt="{{itemCnt}}"></p>
                <div class="list">
                    {{#each itemList}}
                    <div class="listItem grayLink" id="{{id}}">
                        <input class="listItemChkbox listItemCol" type="checkbox" name=""><!-
                        ><div class="listItemText listItemCol">{{{text}}}  <div class="itemBookmark listItemCol" data-bookmarked="{{bookmarked}}"><img src="/toolbars/bookmark.png" width="15" height="15"></div></div><!-
                        ><div class="listProfile listItemCol">.</div><!-
                        ><div class="listDate listItemCol">.{{lastEdit}}</div>
                    </div>
                    {{/each}}
                </div>
                <div class="grayLink" data-show="{{showLoadMore}}" id="loadMore">
                    추가 로드
                </div>
            </div>
        </div>
        <script type="module" src="files.js"></script>
    </body>
</html>